<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image 236 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,842},{95,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,117}}</string>
                <key>sourceSize</key>
                <string>{95,117}</string>
            </dict>
            <key>Image 237 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,728},{99,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,112}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>Image 238 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,583},{99,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,118}}</string>
                <key>sourceSize</key>
                <string>{99,118}</string>
            </dict>
            <key>Image 239 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,842},{95,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,117}}</string>
                <key>sourceSize</key>
                <string>{95,117}</string>
            </dict>
            <key>Image 240 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{99,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,114}}</string>
                <key>sourceSize</key>
                <string>{99,114}</string>
            </dict>
            <key>Image 241 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,364},{110,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,115}}</string>
                <key>sourceSize</key>
                <string>{110,115}</string>
            </dict>
            <key>Image 242 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{99,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,116}}</string>
                <key>sourceSize</key>
                <string>{101,118}</string>
            </dict>
            <key>Image 243 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,380},{105,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,113}}</string>
                <key>sourceSize</key>
                <string>{107,115}</string>
            </dict>
            <key>Image 244 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,643},{99,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,112}}</string>
                <key>sourceSize</key>
                <string>{101,114}</string>
            </dict>
            <key>Image 245 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{99,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,109}}</string>
                <key>sourceSize</key>
                <string>{101,111}</string>
            </dict>
            <key>Image 246 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,370},{106,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,118}}</string>
                <key>sourceSize</key>
                <string>{108,120}</string>
            </dict>
            <key>Image 247 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,338},{105,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,140}}</string>
                <key>sourceSize</key>
                <string>{107,142}</string>
            </dict>
            <key>Image 248 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,442},{103,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,139}}</string>
                <key>sourceSize</key>
                <string>{105,141}</string>
            </dict>
            <key>Image 249 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{119,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{119,140}}</string>
                <key>sourceSize</key>
                <string>{121,142}</string>
            </dict>
            <key>Image 250 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,490},{99,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,139}}</string>
                <key>sourceSize</key>
                <string>{101,141}</string>
            </dict>
            <key>Image 251 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,320},{106,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,120}}</string>
                <key>sourceSize</key>
                <string>{108,122}</string>
            </dict>
            <key>Image 252 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,238},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,116}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>Image 253 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,257},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>Image 254 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,95}}</string>
                <key>sourceSize</key>
                <string>{204,95}</string>
            </dict>
            <key>Image 255 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{147,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,93}}</string>
                <key>sourceSize</key>
                <string>{147,93}</string>
            </dict>
            <key>Image 256 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,490},{89,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,130}}</string>
                <key>sourceSize</key>
                <string>{91,132}</string>
            </dict>
            <key>Image 257 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{145,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{145,118}}</string>
                <key>sourceSize</key>
                <string>{147,120}</string>
            </dict>
            <key>Image 269 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,526},{99,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,141}}</string>
                <key>sourceSize</key>
                <string>{101,143}</string>
            </dict>
            <key>Image 270 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,481},{99,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,148}}</string>
                <key>sourceSize</key>
                <string>{101,150}</string>
            </dict>
            <key>Image 271 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,365},{99,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,152}}</string>
                <key>sourceSize</key>
                <string>{101,154}</string>
            </dict>
            <key>Image 272 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,519},{99,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,144}}</string>
                <key>sourceSize</key>
                <string>{101,146}</string>
            </dict>
            <key>Image 273 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,480},{99,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,161}}</string>
                <key>sourceSize</key>
                <string>{101,163}</string>
            </dict>
            <key>Image 274 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,356},{99,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,168}}</string>
                <key>sourceSize</key>
                <string>{101,170}</string>
            </dict>
            <key>Image 275 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,612},{99,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,114}}</string>
                <key>sourceSize</key>
                <string>{101,116}</string>
            </dict>
            <key>Image 276 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,495},{99,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,115}}</string>
                <key>sourceSize</key>
                <string>{101,117}</string>
            </dict>
            <key>Image 277 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,842},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>Image 278 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,127},{115,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,108}</string>
            </dict>
            <key>Image 279 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{131,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Image 280 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,121},{144,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,132}}</string>
                <key>sourceSize</key>
                <string>{144,132}</string>
            </dict>
            <key>Image 281 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,97},{144,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,135}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>Image 282 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>Image 283 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,104},{123,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,132}}</string>
                <key>sourceSize</key>
                <string>{123,132}</string>
            </dict>
            <key>Image 284 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,239},{112,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{112,123}}</string>
                <key>sourceSize</key>
                <string>{114,125}</string>
            </dict>
            <key>Image 285 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,238},{113,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,125}}</string>
                <key>sourceSize</key>
                <string>{115,127}</string>
            </dict>
            <key>Image 286 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,100},{124,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,137}}</string>
                <key>sourceSize</key>
                <string>{126,139}</string>
            </dict>
            <key>Image 287 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,127},{118,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,128}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>Image 288 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,255},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{122,123}}</string>
                <key>sourceSize</key>
                <string>{124,127}</string>
            </dict>
            <key>Image 289 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{97,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,112}}</string>
                <key>sourceSize</key>
                <string>{99,114}</string>
            </dict>
            <key>Image 290 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,234},{123,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,102}}</string>
                <key>sourceSize</key>
                <string>{125,104}</string>
            </dict>
            <key>Image 291 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{145,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{145,100}}</string>
                <key>sourceSize</key>
                <string>{147,102}</string>
            </dict>
            <key>Image 292 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,237},{115,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,81}}</string>
                <key>sourceSize</key>
                <string>{117,83}</string>
            </dict>
            <key>Image 293 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,36},{131,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,62}}</string>
                <key>sourceSize</key>
                <string>{133,64}</string>
            </dict>
            <key>Image 294 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{155,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{155,48}}</string>
                <key>sourceSize</key>
                <string>{157,50}</string>
            </dict>
            <key>Image 295 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,52},{146,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{146,39}}</string>
                <key>sourceSize</key>
                <string>{148,41}</string>
            </dict>
            <key>Image 296 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{139,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{139,32}}</string>
                <key>sourceSize</key>
                <string>{141,32}</string>
            </dict>
            <key>Image 297 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,93},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{146,26}}</string>
                <key>sourceSize</key>
                <string>{148,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>carnivorplant.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2378eea2a843544b077a6d0f2601da41$</string>
            <key>textureFileName</key>
            <string>carnivorplant.png</string>
        </dict>
    </dict>
</plist>
