<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image 56 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,404},{88,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,133}}</string>
                <key>sourceSize</key>
                <string>{88,133}</string>
            </dict>
            <key>Image 57 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,269},{91,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,133}}</string>
                <key>sourceSize</key>
                <string>{91,133}</string>
            </dict>
            <key>Image 58 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{107,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,131}}</string>
                <key>sourceSize</key>
                <string>{107,131}</string>
            </dict>
            <key>Image 59 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{74,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,139}}</string>
                <key>sourceSize</key>
                <string>{74,139}</string>
            </dict>
            <key>Image 60 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,570},{67,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,143}}</string>
                <key>sourceSize</key>
                <string>{67,143}</string>
            </dict>
            <key>Image 61 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,173},{81,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,128}}</string>
                <key>sourceSize</key>
                <string>{81,128}</string>
            </dict>
            <key>Image 62 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>Image 63 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,79},{121,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,92}}</string>
                <key>sourceSize</key>
                <string>{121,92}</string>
            </dict>
            <key>Image 64 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,98},{112,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,131}</string>
            </dict>
            <key>Image 65 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{93,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,133}}</string>
                <key>sourceSize</key>
                <string>{93,133}</string>
            </dict>
            <key>Image 66 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,419},{88,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,108}}</string>
                <key>sourceSize</key>
                <string>{88,108}</string>
            </dict>
            <key>Image 67 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,388},{89,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,105}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
            <key>Image 68 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,231},{95,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,103}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>Image 69 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,164},{95,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,103}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>Image 70 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,387},{94,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,112}}</string>
                <key>sourceSize</key>
                <string>{94,112}</string>
            </dict>
            <key>Image 71 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,269},{102,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,116}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>Image 72 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,336},{90,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,81}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>Image 73 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,89},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>Image 74 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,79},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>Image 75 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,303},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>Image 76 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,501},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>Image 77 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{64,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>Image 78 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,83},{57,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,79}}</string>
                <key>sourceSize</key>
                <string>{57,79}</string>
            </dict>
            <key>Image 79 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,529},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>Image 80 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,495},{81,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,73}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>Image 81 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,173},{104,94}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{104,94}}</string>
                <key>sourceSize</key>
                <string>{148,94}</string>
            </dict>
            <key>Image 82 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{104,87}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{104,87}}</string>
                <key>sourceSize</key>
                <string>{148,87}</string>
            </dict>
            <key>Image 83 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{146,75}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{146,75}}</string>
                <key>sourceSize</key>
                <string>{148,85}</string>
            </dict>
            <key>Image 84 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,85}}</string>
                <key>sourceSize</key>
                <string>{149,85}</string>
            </dict>
            <key>Image 85 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{142,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,94}}</string>
                <key>sourceSize</key>
                <string>{142,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>general.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8faf8cfce2c1501cdd13d2b9260c7a95$</string>
            <key>textureFileName</key>
            <string>general.png</string>
        </dict>
    </dict>
</plist>
