<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image 906 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Image 907 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,157}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{336,157}}</string>
                <key>sourceSize</key>
                <string>{336,159}</string>
            </dict>
            <key>Image 908 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{64,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,103}}</string>
                <key>sourceSize</key>
                <string>{66,105}</string>
            </dict>
            <key>Image 909 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>Image 910 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,28},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,37}}</string>
                <key>sourceSize</key>
                <string>{23,39}</string>
            </dict>
            <key>Image 911 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,139},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>Image 912 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,107},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,70}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>Image 913 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,67},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,70}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>Image 914 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{7,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{7,39}}</string>
                <key>sourceSize</key>
                <string>{9,41}</string>
            </dict>
            <key>Image 915 at frame 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{308,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,185}}</string>
                <key>sourceSize</key>
                <string>{308,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>truck.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a264df80d05ac2707e3c2a93f9cdc3$</string>
            <key>textureFileName</key>
            <string>truck.png</string>
        </dict>
    </dict>
</plist>
