<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meteorito1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,336}}</string>
                <key>sourceSize</key>
                <string>{592,336}</string>
            </dict>
            <key>meteorito2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,318},{105,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,62}}</string>
                <key>sourceSize</key>
                <string>{105,62}</string>
            </dict>
            <key>meteorito3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{314,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,142}}</string>
                <key>sourceSize</key>
                <string>{314,142}</string>
            </dict>
            <key>meteorito4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{309,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,271}}</string>
                <key>sourceSize</key>
                <string>{309,271}</string>
            </dict>
            <key>meteorito5.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,318},{195,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,62}}</string>
                <key>sourceSize</key>
                <string>{195,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meteors.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f05405eb41573ec40a55db1177bfe793:1/1$</string>
            <key>textureFileName</key>
            <string>meteors.png</string>
        </dict>
    </dict>
</plist>
