<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,460},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,456},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,460},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>enemy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,460},{24,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,45}}</string>
                <key>sourceSize</key>
                <string>{24,45}</string>
            </dict>
            <key>enemy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,236},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>enemy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,235}}</string>
                <key>sourceSize</key>
                <string>{119,235}</string>
            </dict>
            <key>ship1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{161,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,216}}</string>
                <key>sourceSize</key>
                <string>{161,216}</string>
            </dict>
            <key>ship2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{169,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,219}}</string>
                <key>sourceSize</key>
                <string>{169,219}</string>
            </dict>
            <key>shoot-circular.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,220},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>shoot-circular1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,501},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>shoot-circular1333.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,220},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>shoot-circular2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,220},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>shoot-circular3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,433},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>shoot-circular4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,433},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>shoot-circular5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,433},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>shoot-large.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,220},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>shoot-large1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,504},{10,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,5}}</string>
                <key>sourceSize</key>
                <string>{10,5}</string>
            </dict>
            <key>shoot-large2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,220},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>shoot-large3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,458},{52,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,22}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>shoot-large33.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,374},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>shoot-large4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,460},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>shoot-large445.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,374},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>shoot-large45666.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,408},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>shoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{47,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,18}}</string>
                <key>sourceSize</key>
                <string>{47,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ships.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f5f1273323f8f2b058340544bf2c4a6:1/1$</string>
            <key>textureFileName</key>
            <string>ships.png</string>
        </dict>
    </dict>
</plist>
